@import "variables";
body{

    background: red;
}
.shortWindow{
    min-height: 140px;
    border-style: solid;
    border-width: 2px;
    width: 0px;

}
.windowTowerTop(@border: white; @background: @lightgreen){
     -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        width: 23px;
        height: 23px;
        border-style: solid;
        border-color: @border;
        border-width: 1px;
        -webkit-border-radius: 50% 0 50% 50% / 50% 0 50% 50%;
        border-radius: 50% 0 50% 50% / 50% 0 50% 50%;
        font: normal 100%/normal Arial, Helvetica, sans-serif;
        color: rgba(0, 0, 0, 1);
        -o-text-overflow: clip;
        text-overflow: clip;
        background: @background;
        -webkit-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);


}
.balcony(@balconColor:@lightblue; @width: 360px; @heigth: 10px){
    background: repeating-linear-gradient(to right,  @balconColor 2px,transparent 3px, transparent 4px, @balconColor 5px, @balconColor 6px, transparent 7px) ;
    height: @heigth;
   
    
    width: @width;
}
.balconyBase(@width:72px; @height: 7px; @background: @red){
    width: @width;
    height: @height;
    background: @background;
}
.crip{
    bottom: 0px;
    left: 50%;
    margin-left: 20px;
}
.snowflakeRotation-1{
        animation-name: rotation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.snowflakeRotation-2{
        animation-name: resize;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.snowflakeRotation-3{
        animation-name: resize-bigger;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.starrotation{
      animation-name: star;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotation {
    from {
        top: 0%;
        transform: rotate(0deg);
    }
    to {
        top: 100%;
        transform: rotate(359deg);
    }
}
@keyframes resize{
     from {
        top: 0%;
        transform: rotate(0deg) scale(.5);
    }
    to {
        top: 100%;
        transform: rotate(359deg) scale(.5);
    }
}
@keyframes resize-bigger{
     from {
        top: 0%;
        transform: rotate(0deg) scale(.5);
    }
    to {
        top: 100%;
        transform: rotate(359deg) scale(1);
    }
}
@keyframes star{
    from{
        transform: scale(.1) rotate(0deg);
    }
    to{
        transform: scale(1) rotate(359deg);
    }
}