@import "global";
.container {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0%;
    left: 50%;
    &--left {
        margin: 0px -300px;
        .snowflakeRotation-1;
    }
    &--right {
        margin: 0px 300px;
        .snowflakeRotation-1;
        animation-duration: 8s;
    }
    &--smaller{
        margin: 0px -200px;
        z-index: -1;
        .snowflakeRotation-3;
        animation-duration: 20s
    }
    &--smaller2{
        margin: 0px 100px;
        .snowflakeRotation-2;
    }
    &__white {
        .stroke:before,
        .stroke:after {
            border: 1px solid lightgray;
            border-top: 0;
            border-left: 0;
        }
        .snowflakeRotation-2;
        animation-duration: 10s;
        &--1 {
            margin: 0px -250px;
        }
        &--2{
            margin: 0px 50px;
        }
        &--3{
            .snowflakeRotation-3;
            margin: 0px 100px;
        }
    }
    &__resize {
        margin-left: 100px;
        z-index: -1;
        .snowflakeRotation-1;
        animation-duration: 15s;
    }
}

.stroke {
    height: 50px;
    width: 1px;
    background-color: blue;
    position: absolute;
    top: 0px;
    left: 24px;
    -webkit-box-shadow: 2px 2px 50px 0px rgba(255, 255, 255, 0.3);
    box-shadow: 2px 2px 50px 0px rgba(255, 255, 255, 0.3);
    &__animation {
        width: 2px;
        background: linear-gradient(273deg, white 30%, grey 50%, white 60%);
        background-size: 400% 400%;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        -webkit-animation: Gradient 10s ease infinite;
        -moz-animation: Gradient 10s ease infinite;
        animation: Gradient 10s ease infinite;
        /*&:before {
            border: 1px solid red;
        }
        &:after {
            border: 1px solid red;
        }*/
    }
}

.stroke:before,
.stroke:after {
    content: "";
    border: 1px solid blue;
    width: 7px;
    height: 7px;
    position: absolute;
    left: -3px;
    border-top: 0;
    border-left: 0;
    transform: rotate(45deg);
}

.stroke:after {
    bottom: 0;
    transform: rotate(-135deg);
}

.stroke-2 {
    transform: rotate(90deg);
}

.stroke-3 {
    transform: rotate(45deg);
}

.stroke-4 {
    transform: rotate(-45deg);
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}